@CHARSET "UTF-8";

body{
	background: url(../img/bg.png);
	font-family: Lucida Console;
}

.geral{
	position: relative;
	margin: 25% auto 0 auto;
	width: 300px;
}

fieldset{
	width: 100%;
	margin: 0;
	border: 1px solid;
}

fieldset label{
	display: inline-block;
	min-width: 80px;
	text-align: right;
	line-height: 25px;
}

.painel_botoes{
	margin:1px auto;
	text-align: right;
	padding: 0px 20px 0 0;
}

input[type=text],input[type=password]{
	width: 60%;
}

input[type=submit], input[type=button] {
	margin: 20px 5px 0;
	background: white;
	border: 1px solid green;
	min-width: 70px;
}

input[type=submit]:hover, input[type=button]:hover{
	background: #CEFFE2;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid black;
}

input[type=submit]:active, input[type=button]:active {
	background: green;
}