*.exe
*.dll
*.dcu
__history
*.bdsproj
*.local
*identcache
*.scc
*.~*
*.$$$
*.ddp
*.dof
*.gex
*.map
*.xls
*.drc
*.txt
*.RET
*.ret
*.log
*.MB
*.bkm
*.DBF
*.db
*.dbf
*.docx
*.doc
*.LCK
*.lck
*.S01
*.xlsx
*.xlsx
*.net
*.NET
*.dof
*.gex
*.scc
*.bak
.settings
.idea
.classpath
.project
*.iml
ISSComponentHelper.ini
odnt Rich Text Format.ico
target
